@use "../scss/variables" as *;
@font-face {
  font-family: "syne";
  src: url("../fonts/Syne-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.4s ease;
  font-family: "syne";
  font-weight: 400;
}
.row {
  width: 100%;
  display: flex;
}
.container {
  width: 95%;
  margin: 0 auto;
}
body {
  background-color: $darkBlack;
}
img {
  width: 100%;
  height: 100%;
}
