@use "../variables" as *;
.about {
  margin-top: 20px;
  position: relative;
  .container {
    .row {
      flex-direction: column;
      .aboutTopSide {
        display: flex;
        justify-content: space-around;
        .aboutTopSideText {
          width: 50%;
          top: 100px;
          align-self: flex-start;
          transition: all 0.3s ease;
          .aboutTitle {
            font-size: 28px;
            color: $dimWhite;
            margin-bottom: 20px;
            font-weight: 600;
          }
          .description {
            font-size: 17px;
            color: $gray;
            line-height: 2;
            margin-bottom: 30px;
          }
        }
        .aboutImg {
          width: 400px;
          height: 400px;
          border-radius: 50%;
          margin-bottom: 60px;
          padding: 20px;
          img {
            border-radius: 10px;
          }
        }
      }
      .skillsGrid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        margin-top: 20px;
        position: relative;
        .skilsGridTitle {
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 10px 20px;
          background: $highight;
          border: 1px solid $softBlack;
          border-radius: 50px;
          font-size: 16px;
          margin: 10px 0;
          color: $softBlack;
          transition: all 0.3s ease;
        }
        .gsapLine {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0.6;
          svg {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
        .aboutText {
          width: 50%;
        }
        .skillGroup {
          position: relative;
          z-index: 2;
          .categoryTitle {
            color: $softWhite;
            margin-bottom: 10px;
            font-size: 20px;
          }
          .tagsContainer {
            .skillTag {
              width: fit-content;
              display: flex;
              align-items: center;
              gap: 8px;
              padding: 10px 20px;
              background-color: $highight;
              border: 1px solid rgba($highight, 0.2);
              border-radius: 50px;
              font-size: 16px;
              margin: 10px 0;
              color: $softBlack;
              transition: all 0.3s ease;
              &:hover {
                background: $secondary;
                color: $darkBlack;
                transform: translateY(-5px);
                border-color: $highight;
              }
            }
          }
        }
        &:nth-child(odd) {
          align-self: flex-start;
        }
        &:nth-child(even) {
          align-self: flex-end;
        }

        .skillGroup:nth-child(3) {
          position: relative;
          top: 100px;
          left: 260px;
        }
        .skillGroup:nth-child(4) {
          position: relative;
          top: 100px;
          left: -230px;
        }
        .skillGroup:nth-child(5) {
          position: relative;
          top: 35px;
          left: 260px;
        }
        .skillGroup:nth-child(6) {
          position: relative;
          top: 70px;
          left: -290px;
        }
        .skillGroup:nth-child(7) {
          position: relative;
          top: 100px;
          left: 390px;
        }
        .skillGroup:nth-child(8) {
          position: relative;
          top: 10px;
          left: 30px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    margin-top: 20px;
    position: relative;
    .container {
      .row {
        flex-direction: column;
        .aboutTopSide {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .aboutTopSideText {
            width: 100%;
            top: 100px;
            align-self: flex-start;
            transition: all 0.3s ease;
            .aboutTitle {
              font-size: 28px;
              color: $dimWhite;
              margin-bottom: 20px;
              font-weight: 600;
            }
            .description {
              font-size: 17px;
              color: $gray;
              line-height: 2;
              margin-bottom: 30px;
            }
          }
          .aboutImg {
            width: 100%;
            height: 100%;
            padding: 20px;
          }
        }
        .skillsGrid {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          gap: 50px;
          margin-top: 20px;
          position: relative;
          .skilsGridTitle {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 10px 20px;
            background: $highight;
            border: 1px solid $softBlack;
            border-radius: 50px;
            font-size: 16px;
            margin: 10px 0;
            color: $softBlack;
            transition: all 0.3s ease;
          }
          .gsapLine {
            display: none;
            position: absolute;
            top: -20%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.6;
            svg {
              width: 100%;
              height: 100%;
              display: block;
            }
          }
          .aboutText {
            width: 50%;
          }
          .skillGroup {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            .categoryTitle {
              color: $softWhite;
              margin-bottom: 10px;
              font-size: 20px;
            }
            .tagsContainer {
              .skillTag {
                width: fit-content;
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 10px 20px;
                background-color: $highight;
                border: 1px solid rgba($highight, 0.2);
                border-radius: 50px;
                font-size: 13px;
                margin: 10px 0;
                color: $softBlack;
                transition: all 0.3s ease;
                &:hover {
                  background: $secondary;
                  color: $darkBlack;
                  transform: translateY(-5px);
                  border-color: $highight;
                }
              }
            }
          }
          &:nth-child(odd) {
            align-self: center;
          }
          &:nth-child(even) {
            align-self: center;
          }
          .skillGroup:nth-child(3) {
            position: relative;
            top: 0px;
            left: 0px;
          }
          .skillGroup:nth-child(4) {
            position: relative;
            top: 0px;
            left: 0px;
          }
          .skillGroup:nth-child(5) {
            position: relative;
            top: 0px;
            left: 0px;
          }
          .skillGroup:nth-child(6) {
            position: relative;
            top: 0px;
            left: 0px;
          }
          .skillGroup:nth-child(7) {
            position: relative;
            top: 0px;
            left: 0px;
          }
          .skillGroup:nth-child(8) {
            position: relative;
            top: 0px;
            left: 0px;
          }
        }
      }
    }
  }
}
