@use "../variables" as *;

.home {
  margin-top: 40px;
  height: 100vh;
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100vh;
    object-fit: cover;
    bottom: 0;
    z-index: -2;
  }

  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.692) 0%,
        rgba(0, 0, 0, 0.731) 100%);
    z-index: -1;
  }

  .container {
    .row {
      justify-content: space-between;

      .homeBlock {
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .homeTitle {
          font-size: 100px;
          color: $highight;
        }

        .homeWork {
          color: $secondary;
          font-size: 20px;
        }

        .homeBio {
          color: $dimWhite;
          display: flex;
          align-items: center;
          font-style: italic;
          font-size: 25px;
          margin-bottom: 10px;

          .bioIcon {
            color: $highight;
            margin: 0 10px;
            font-size: 30px;
          }
        }
      }

      .homeBtns {
        position: relative;
        z-index: 4;
        top: 5%;
        left: 2%;
        display: flex;

        .homeCookie {
          font-size: 30px;
          color: $secondary;
          transform: translate(-50px, 5px) rotate(0deg);
          opacity: 0;
          visibility: hidden;
        }

        .homeToWorkLink {
          color: $highight;
          border: 1px solid $highight;
          padding: 10px 20px;
          border-radius: 8px;

          &:hover {
            background-color: $highight;
            color: $darkBlack;

            &+.homeCookie {
              opacity: 1;
              visibility: visible;
              transform: translate(-20px, -20px) rotate(45deg);
            }
          }

          &:active {
            transform: scale(0.6);
          }
        }

        .homeContactBtn {
          color: $darkBlack;
          background-color: $highight;
          border-radius: 8px;
          padding: 10px 20px;
          border: 1px solid $secondary;

          &:hover {
            background-color: transparent;
            color: $highight;

            &+.homeCookie {
              opacity: 1;
              visibility: visible;
              transform: translate(-20px, -20px) rotate(45deg);
            }
          }

          &:active {
            transform: scale(0.6);
          }
        }
      }

      .reactModel {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 3;
      }
    }
  }
}

@media (max-width: 900px) {
  .home {
    margin-top: 30px;
    height: 90vh;

    video {
      position: absolute;
      width: 100%;
      top: 0;
      height: 90vh;
      left: 0;
      object-fit: cover;
      bottom: 0;
      z-index: -2;
    }

    .container {
      .row {
        .homeBlock {
          .homeTitle {
            font-size: 50px;
            color: $highight;
          }

          .homeWork {
            color: $secondary;
            font-size: 20px;
          }

          .homeBio {
            color: $dimWhite;
            display: flex;
            align-items: center;
            font-style: italic;
            font-size: 16px;
            margin-bottom: 10px;

            .bioIcon {
              color: $highight;
              margin: 0 10px;
              font-size: 20px;
            }
          }
        }

        .homeBtns {
          position: relative;
          z-index: 4;
          top: 5%;
          display: flex;
          gap: 20px;

          .homeCookie {
            display: none;
          }
        }

        .reactModel {
          display: none;
        }
      }
    }
  }
}